@font-face {
  font-family: "Outfit";
  src: url(/assets/fonts/outfit/Outfit-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "Young Serif";
  src: url(/assets/fonts/young-serif/YoungSerif-Regular.ttf) format("truetype");
}

@layer reset, tokens, base, components, utilities, exceptions;

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  *:not(dialog) {
    margin: 0;
  }

  ul,
  ol {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  img {
    max-width: 100%;
    display: block;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }
}

@layer tokens {
  :root {
    /* Primitives */
    --clr-white: hsl(0, 0%, 100%);
    --clr-stone-100: hsl(30, 54%, 90%);
    --clr-stone-150: hsl(30, 18%, 87%);
    --clr-stone-600: hsl(30, 10%, 34%);
    --clr-stone-900: hsl(24, 5%, 18%);
    --clr-brown-800: hsl(14, 45%, 36%);
    --clr-rose-800: hsl(332, 51%, 32%);
    --clr-rose-50: hsl(330, 100%, 98%);

    --ff-headings: "Young serif", serif;
    --ff-body: "Outfit", sans-serif;

    --fs-400: 1rem; /* 16px */
    --fs-500: 1.125rem; /* 18px */
    --fs-600: 1.75rem; /* 28px */
    --fs-700: 2.25rem; /* 36px */

    --fw-400: 400;
    --fw-600: 600;
    --fw-700: 700;

    --lh-100: 1;
    --lh-400: 1.5;

    --sp-100: 1rem; /* 16px */
    --sp-200: 1.25rem; /* 20px */
    --sp-300: 1.5rem; /* 24px */
    --sp-400: 1.75rem; /* 28px */
    --sp-500: 2rem; /* 32px */
    --sp-600: 2.25rem; /* 36px */
    --sp-700: 2.5rem; /* 40px */

    /*Semantics*/
    --bg-body: var(--clr-stone-150);
    --bg-surface: var(--clr-white);
    --bg-card: var(--clr-rose-50);

    --text-clr-base: var(--clr-stone-600);
    --text-clr-heading-primary: var(--clr-stone-900);
    --text-clr-heading-section: var(--clr-brown-800);
    --text-clr-heading-card: var(--clr-rose-800);
    --text-color-list-marker: var(--clr-brown-800);
    --text-color-data-value: var(--clr-brown-800);

    --text-strong: var(--fw-700);
    --text-semi-strong: var(--fw-600);
    --text-regular: var(--fw-400);

    --text-size-body: var(--fs-400);
    --text-size-heading-card: var(--fs-500);
    --text-size-heading-section: clamp(1.5rem, 1.4rem + 0.357vw, var(--fs-600));
    --text-size-heading-primary: clamp(
      var(--fs-600),
      1.625rem + 0.714vw,
      var(--fs-700)
    );

    --space-body: var(--sp-500);
    --space-hero: var(--sp-700);
    --space-content-block: var(--sp-400);
    --space-card: var(--sp-300);
    --space-heading-card: var(--sp-200);
    --space-list-item: var(--sp-100);
    --space-section: var(--sp-600);
    --space-heading-section: var(--sp-400);
  }
}

@layer base {
  body {
    font-family: var(--ff-body);
    font-size: var(--fs-400);
    color: var(--text-clr-base);
    line-height: 1.5; /*crear token*/
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

  @media (min-width: 750px) {
    body {
      background-color: var(--bg-body);
      display: grid;
      place-items: center;
      padding-block: 3rem;
    }
  }
}

@layer components {
  .recipe {
    max-width: 70ch;
  }

  @media (min-width: 500px) {
    .recipe {
      background-color: var(--clr-white);
      border-radius: 20px;

      & .img-container {
        margin: var(--space-content-block);

        & img {
          border-radius: 20px;
        }
      }
    }
  }

  .recipe section {
    margin-inline: var(--space-body);
    padding-block: var(--space-heading-section);
  }

  .header__title {
    font-family: var(--ff-headings);
    font-size: var(--text-size-heading-primary);
    color: var(--text-clr-heading-primary);
    line-height: var(--lh-100);
    padding-block-end: var(--space-content-block);
  }

  .card {
    background-color: var(--bg-card);
    padding: 0 var(--space-card);
    border-radius: 10px; /*crear token */
  }

  .card__title {
    font-size: var(--text-size-heading-card);
    color: var(--text-clr-heading-card);
    padding-block-end: 1rem; /*crear token*/
  }

  .card__list {
    line-height: var(--lh-400);
  }

  .card__list--item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-block-end: 0.5rem; /*crear token*/

    &:before {
      content: "•";
      font-size: 1.15rem;
      color: var(--clr-rose-800);
      padding-inline-end: var(--sp-400);
    }
  }
}

.instructions__list {
  counter-reset: numeracion;

  & li {
    display: flex;
    align-items: flex-start;
    counter-increment: numeracion;
    padding-block: 0.25rem; /*crear token*/

    &:before {
      content: counter(numeracion) ".";
      padding-inline-end: var(--sp-400);
      color: var(--clr-rose-800);
      font-weight: var(--text-strong);
      flex-shrink: 0;
    }
  }
}

hr {
  margin-inline: var(--space-content-block);
  opacity: 0.2;
}

.section__paragraph {
  padding-block: 0.5rem 1rem;
}

.section__table {
  width: 100%;
  border-collapse: collapse;

  & tr {
    border-block-end: 1px solid rgba(0 0 0 /0.2);
  }

  & th {
    font-weight: var(--text-regular);
    text-align: left;
    padding-inline-start: 2rem;
    padding-block: 0.5rem;
  }

  & td {
    font-weight: var(--text-semi-strong);
    color: var(--clr-rose-800);
  }
}

@layer utilities {
  .title {
    font-family: var(--ff-headings);
    font-size: var(--text-size-heading-section);
    color: var(--text-clr-heading-section);
    padding-block: 0.5rem; /*crear token*/
  }

  .bold-text {
    font-weight: var(--text-strong);
  }
}